@model Transporter.Web.Models.Customer


<h2>Edit a customer</h2>

@using (Html.BeginForm("Edit", "Customer"))
{
    @Html.ValidationSummary();

    @Html.AntiForgeryToken();

    @Html.HiddenFor(m => m.Id)
    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Adress)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Adress)</div>

    <div class="editor-label">@Html.LabelFor(m => m.PhoneNum)</div>
    <div class="editor-field">@Html.EditorFor(m => m.PhoneNum)</div>

    <div class="editor-label">@Html.LabelFor(m => m.EMail)</div>
    <div class="editor-field">@Html.EditorFor(m => m.EMail)</div>

    <input type="submit"value="SEND" />
}
