@model CalorieCounter.Models.CalorieResult
@{
    ViewBag.Title = "CalorieResult";
}

<h2>Az eredmény</h2>

<p>A sportoló neve @Model.Name</p>
<p>A sportoló tömege @Model.Weight</p>
<p>A gyakorlat @Model.Exercise</p>
<p>A gyakorlat hossza @Model.Duration</p>
<p>Elégetett kalória @Model.Calories</p>